<div class="container bg-white mt-3 p-3">
    <%= render "shared/logo" %>
    <h1>Events#index</h1>
    <%# average price & last ticket sold %>
    <%= link_to "Back", root_path %>
    <hr>
    <% @events.each do |event| %>
        <%= link_to event.name, event_listings_path(event) %> ||
        Date: <%= event.date %> ||
        Location: <%= event.location %> ||
        <strong><%= event.tickets.where(status: "for_sale").count %> </strong>tickets available
        <hr>
        <% end %>
</div>